* {
    box-sizing: border-box
}

@font-face {
    font-family: Dela Gothic One;
    src: url(../DelaGothicOne-Regular\ \(1\).ttf);
}

@font-face {
    font-family: Monserrat;
    src: url(../Montserrat-Regular.ttf);
}

body {
    background: #F6F5F4;



}

.main {
    background: #F6F5F4;

    align-items: center;



}

.q {
    display: flex;
    align-items: center;
}

.menu {
    height: 22px;
    width: 540px;
    left: 33px;
    top: 9px;
    border-radius: 0px;
    display: flex;
    margin-bottom: 23px;

    margin-left: 65px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 24px 370px;

}

hr {
    width: 1457px;
}

.text1 {
    width: 130px;
    height: 21px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 20.8609px;
    line-height: 100%;
    font-family: Dela Gothic One;
    font-size: 21px;

    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    letter-spacing: -0.02em;
    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text2 {
    height: 16.865171432495117px;
    width: 0px;
    left: 160px;
    top: 2.56744384765625px;
    border-radius: 0px;
    width: 0px;
    height: 16.87px;
    color: #757575;
    background: rgba(224, 224, 224, 1);
}

.text3 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: left;
    font-weight: 600;
    color: black;
    font-size: 16px;
    line-height: 140%;
    height: 22px;
    width: 49px;
    left: 190px;
    top: 0px;
    border-radius: nullpx;

    width: 49px;
    height: 22px;
}

.text4 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: left;
    width: 72px;
    height: 22px;
    height: 22px;
    width: 72px;
    left: 269px;
    top: 0px;
    color: rgba(117, 117, 117, 1);


    border-radius: nullpx;

}

.text5 {
    height: 22px;
    width: 70px;
    left: 371px;
    top: 0px;
    border-radius: nullpx;
    color: rgba(117, 117, 117, 1);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;


}

.games {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    height: 22px;
    width: 55px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #757575;
    text-align: left;
}

.vector {
    right: 1cm;
}

.menu2 {
    height: 40px;
    width: 41px;
    margin-left: 1193px;
    left: 0px;
    top: 0px;
    border-radius: 100px;
    padding: 9px 14px 9px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: -57px;

}

.img2 {
    margin-top: -6px;
}

.aa {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: rgba(117, 117, 117, 1);
    margin-top: 14px;
    flex: none;


    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: left;

    order: 1;
    flex-grow: 0;
    height: 22px;
    width: 34px;
    left: 51px;
    top: 9px;
    border-radius: nullpx;

}

.text6 {
    height: 16px;
    width: 82px;
    left: 115px;
    top: 12px;
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    width: 82px;
    height: 16px;
    font-family: 'Montserrat';
    font-style: normal;

    font-size: 16px;
    line-height: 100%;
    flex: none;
    order: 1;
    flex-grow: 0;
    letter-spacing: -0.04em;
}

.main3 {
    height: 84px;
    width: 1180px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 1);
    margin-left: 126px;


}

.maaa {
    display: flex;

    align-items: center;
    padding: 20px;
    gap: 10px;

    width: 1180px;
    height: 84px;

    background: #FFFFFF;
    border-radius: 14px;

    height: 84px;
    width: 1180px;
    left: 0px;
    top: 0px;
    border-radius: 14px;
}

.img3 {
    width: 27.999731063842773px;

    border-radius: 0px;
    color: rgba(186, 186, 186, 1);

    left: 7.25%;
    right: 6.25%;
    top: 12.86%;

}

.textbook {
    height: 26px;
    width: 140px;
    left: 42px;
    top: 3px;
    border-radius: nullpx;

    font-family: Dela Gothic One;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;

}

.Dictionary {
    height: 26px;
    width: 152px;
    left: 42px;
    top: 3px;
    border-radius: nullpx;

    font-family: Dela Gothic One;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.04em;
    text-align: left;

}

.naaa {
    height: 44px;
    width: 384px;
    left: 776px;
    top: 20px;
    border-radius: 0px;
    align-items: center;
    display: flex;
    height: 44px;
    margin-left: 784px;
    margin-top: -57px;
    padding-bottom: 10px;

}

.circle {
    width: 146px;
    height: 44px;
    left: 0px;
    top: 0px;

    margin-right: 9px;

    background: #F2D4DC;
    border-radius: 14px;
}

.circle2 {
    height: 44px;
    width: 178px;
    left: 156px;
    top: 0px;
    border-radius: 14px;

    width: 178px;
    height: 44px;
    left: 156px;
    top: 0px;
    background: rgba(195, 220, 227, 1);
}

.shoes {
    height: 44px;
    width: 44px;
    left: 22px;
    top: 0px;
    border-radius: 14px;
    left: 0px;
    ;
    top: 0px;

    background: url(image\ 10\ \(1\).png);
    border-radius: 14px;
}

.text7 {
    height: 16px;
    width: 48px;
    left: 53px;
    top: 14px;
    border-radius: nullpx;
    color: rgba(148, 80, 105, 1);
    letter-spacing: -0.04em;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.04em;
    text-align: left;
}

.text8 {
    height: 16px;
    width: 82px;
    left: 215px;
    top: 14px;
    border-radius: nullpx;
    color: rgba(43, 120, 139, 1);

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.04em;
    text-align: left;
}

.grey {
    height: 40px;
    width: 40px;
    left: 344px;
    top: 2px;
    border-radius: 4px;
    padding: 4px;
    background: rgba(246, 245, 244, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px;
    gap: 10px;

    margin-left: 9px;

    background: #F6F5F4;
    border-radius: 4px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.menu4 {
    display: flex;
    padding: 40px 128px 100px 288px;
    gap: 45px;
    align-content: stretch;
    margin-left: 24px;

}

.urban {
    display: flex;
    align-items: center;
    gap: 12px;
}

.text9 {
    width: 39px;
    height: 26px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.04em;

    color: #000000;
    left: 0px;
    top: 88px;
    border-radius: 0px;


}

.color {
    width: 43px;
    padding: 4px 8px 4px 8px;
    height: 25px;
    background: #639B6D;
    border-radius: 4px;


}

.text10 {
    color: rgba(246, 245, 244, 1);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    align-items: center;
    display: flex;

    letter-spacing: -0.04em;
}

.text11 {
    height: 26px;
    width: 44px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-family: Dela Gothic One;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(117, 117, 117, 1);
}

.color1 {
    height: 25px;
    width: 43px;
    left: 56px;
    top: 0.5px;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    background: rgba(99, 155, 109, 0.3);
}

.text12 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: -0.04em;
    text-align: left;
    display: flex;
    align-items: center;
    color: rgba(99, 155, 109, 1);

}

.text13 {
    font-family: Dela Gothic One;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #757575;
}

.color2 {
    height: 25px;
    width: 66px;
    left: 50px;
    top: 0.5px;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    background: rgba(196, 162, 76, 0.3);

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 10px;

    width: 66px;
    height: 25px;
}

.text14 {
    color: rgba(196, 162, 76, 1);

    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: -0.04em;
    text-align: left;

}

.text15 {
    color: rgba(117, 117, 117, 1);

    font-family: Dela Gothic One;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.04em;
    text-align: left;
}

.color3 {
    height: 25px;
    width: 66px;
    left: 50px;
    top: 0.5px;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    background: rgba(196, 162, 76, 0.3);


    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 10px;

    width: 66px;
    height: 25px;
}

.text16 {
    color: rgba(196, 162, 76, 1);

    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: -0.04em;
    text-align: left;
}

.text17 {
    height: 26px;
    width: 39px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    color: rgba(117, 117, 117, 1);

    font-family: Dela Gothic One;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.04em;
    text-align: left;
}

.color4 {
    height: 25px;
    width: 45px;
    left: 51px;
    top: 0.5px;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    background: rgba(203, 91, 67, 0.3);
    display: flex;
    align-items: center;


}

.text18 {
    height: 17px;
    width: 29px;
    left: 8px;
    top: 4px;
    border-radius: nullpx;
    color: rgba(203, 91, 67, 1);
    display: contents;
    align-items: center;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: -0.04em;
    text-align: left;
}

.text19 {
    height: 26px;
    width: 46px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    color: rgba(117, 117, 117, 1);

    font-family: Dela Gothic One;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.04em;
    text-align: left;
}

.color5 {
    height: 25px;
    width: 45px;
    left: 58px;
    top: 0.5px;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    background: rgba(203, 91, 67, 0.3);
    display: flex;
    align-items: center;
}

.text20 {
    height: 17px;
    width: 29px;
    left: 8px;
    top: 4px;
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(203, 91, 67, 1);
}

.line {
    height: 0px;
    width: 94.00000000000036px;
    left: 0px;
    top: 40px;
    border-radius: 0px;
    border: 2px solid #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 8.19cm;
    margin-top: -199px;
}

.menu5 {
    height: 336.0000305175781px;
    width: 926px;

    background: #FFFFFF;
    box-shadow: 0px 22.8981px 45.7963px -11.4491px rgba(52, 41, 39, 0.08);
    border-radius: 14px;

    margin-left: 267px;
    margin-top: -55px;
}

.img4 {
    height: 336px;

    border-radius: 14px;
    width: 327px;

}

.text21 {
    color: #000000;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;


    letter-spacing: -0.04em;
    font-family: Dela Gothic One;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.04em;
    text-align: left;
}

.text22 {
    height: 32px;
    width: 16px;
    left: 148px;
    top: 0px;
    border-radius: nullpx;
    margin-left: 12px;
    font-family: Dela Gothic One;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.04em;
    text-align: left;
}


.text23 {
    height: 32px;
    width: 82px;
    margin-left: 12px;
    top: 0px;
    border-radius: nullpx;
    color: #757575;

    font-family: Dela Gothic One;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.04em;

}

.aaa {
    display: flex;
    margin-top: 33px;
}

.damxmare {
    margin-left: 364px;
    margin-top: -322px;

}

.img5 {
    height: 40px;
    width: 40px;

    top: 0px;
    margin-left: 218px;
    border-radius: 4px;
    padding: 4px;
}

.text24 {
    height: 25px;
    width: 87px;

    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.04em;
    margin-right: 51px;
    color: #000000;
}

.zzz {
    display: flex;
    align-items: center;
    margin-top: 0.4cm;

}

.color6 {
    height: 28px;
    width: 100px;

    top: 0px;
    border-radius: 4px;
    padding: 4px 12px 4px 12px;
    background: rgba(203, 91, 67, 1);
    display: flex;
    align-items: center;
    margin-right: 23px;
}

.text25 {
    height: 20px;
    width: 76px;
    left: 12px;
    top: 4px;
    border-radius: nullpx;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #F6F5F4;

}

.text26 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
    height: 24px;
    width: 516px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    display: flex;
}

.words {
    height: 24px;
    width: 516px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
    margin-top: 20px;
}

.hr1 {
    width: 516px;
    height: 3px;
    border: 1.22px solid rgba(224, 224, 224, 1);
    background: #E0E0E0;
    display: flex;
    align-items: center;
    margin-top: -5px;
}

.text26 {
    height: 48px;
    width: 516px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #757575;
    margin-top: -8px;
}

.color7 {
    height: 40px;
    width: 156px;
    left: 0px;
    top: 0px;
    border-radius: 100px;
    padding: 12px 20px 12px 20px;
    background: #639B6D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 12px;
    margin-top: 23px;
    width: 156px;
    height: 40px;
}

.text27 {
    color: #F6F5F4;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.04em;
    text-align: left;
}

.color8 {
    height: 40px;
    width: 230px;
    left: 176px;
    top: 0px;
    border-radius: 100px;
    padding: 12px 20px 12px 20px;
    background: #CB5B434D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 12px;

    width: 230px;
    height: 40px;
    margin-left: 180px;
    margin-top: -39px;
}

.text28 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #CB5B43;

}

.menu6 {
    height: 336.0000305175781px;
    width: 926px;
    left: 497px;
    top: 620px;
    border-radius: 14px;
    padding: 0px 40px 0px 0px;
    background: #FFFFFF;
    box-shadow: 0px 22.898128509521484px 45.79625701904297px -11.449064254760742px #34292714;
    margin-left: 267px;
    margin-top: 25px;
    display: block;
}

.img6 {
    border-radius: 14px;
}

.hhh {
    height: 331px;

    border-radius: 14px;
    width: 327px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text29 {
    height: 32px;
    width: 95px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    color: #000000;

    font-family: Dela Gothic One;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.04em;
    text-align: left;
    margin-right: 4px;
}

.text30 {
    height: 32px;
    width: 16px;
    left: 107px;
    top: 0px;
    border-radius: nullpx;
    color: #000000;

    font-family: Dela Gothic One;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.04em;
    text-align: left;
    margin-left: 10px;
}

.text31 {
    color: #757575;

    font-family: Dela Gothic One;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.04em;
    text-align: left;
    margin-left: 15px;

}

.text32 {
    height: 25px;
    width: 56px;
    left: 0px;
    top: 1.5px;
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #000000;

}

.color9 {
    height: 28px;
    width: 100px;
    left: 97px;
    top: 0px;
    border-radius: 4px;
    padding: 4px 12px 4px 12px;
    background: #CB5B43;
    align-items: center;
    display: flex;
    margin-left: 72px;
}

.text33 {
    height: 20px;
    width: 76px;
    left: 12px;
    top: 4px;
    border-radius: nullpx;
    color: #F6F5F4;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: left;
}

.zzz3 {
    display: flex;
    align-items: center;
    margin-left: 369px;
    margin-top: 62px;
}

.img7 {
    height: 40px;
    width: 40px;
    left: 476px;
    top: 0px;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 10px;
    margin-left: 203px;

}

.aaa2 {
    display: flex;
    margin-left: 368px;
    margin-top: -284px
}


.words1 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #000000;
    height: 24px;
    width: 516px;
    border-radius: nullpx;
    float: inline-start;
    margin-left: 368px;
    margin-top: 27px;
}

.hr2 {
    margin-left: 369px;
    width: 516px;
    height: 3px;
    border: 1.22px solid rgba(224, 224, 224, 1);
    background: #E0E0E0;
    display: flex;
    align-items: center;
    margin-top: -5px;
}

.text34 {
    margin-left: 364px;
}

.zzz4 {
    float: inline-start;
}

.zzz5 {
    margin-top: -56px;
}

.menu7 {
    height: 336.0000305175781px;
    width: 926px;
    left: 497px;
    top: 996px;
    border-radius: 14px;
    padding: 0px 40px 0px 0px;
    box-shadow: 0px 22.898128509521484px 45.79625701904297px -11.449064254760742px #34292714;
    background-color: #FFFFFF;
    margin-left: 267px;
    margin-top: 45px;
}

.aaa3 {
    margin-left: 371px;
    margin-top: -284px;
    display: flex;
}

.zzz6 {
    display: flex;
    margin-left: 372px;
    margin-top: 73px;
}

.zzz8 {
    margin: 20px;
    margin-left: 372px;
}

.text35 {
    margin-left: 372px;
    margin-top: -13px;
}

.damxmare3 {
    margin-top: -59px;
}

#buttons {
    display: flex;
}

.menu8 {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 553px;
    margin-top: 40px;
}

.menu8>button {
    width: 44px;
    height: 44px;
    border: 3px solid #5996A5;
    border-radius: 100px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;


    letter-spacing: -0.04em;
    color: #5996A5;
}

.menu8>button:hover {
    background-color: #5996A5;
    color: #F6F5F4;
}

.menu8>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #757575;
}

.bolo_area {
    margin-bottom: 10px;
    align-items: center;

    width: 100%;

}



.bolo {
    display: flex;
    margin-inline: auto;
    margin-bottom: 15px;
    justify-content: space-between;
    width: 1180px;

}

.bolo1 {
    display: flex;



}

.bolo2 {
    margin-top: 2cm;
}

.bolo3 {
    margin-left: auto;
    margin-top: 2cm;
}

.textt {
    margin-right: 21.5px;
    font-family: Monserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;

    color: #757575;
}

.texttt {
    margin-right: 21.5px;
    font-family: Monserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;

    color: #757575;
}

#bolo4 {
    display: flex;
    padding-left: 80px;

    align-self: center;
    justify-content: space-between;

}

.image {
    display: flex;
    align-items: center;
}

.image11 {
    Width: 24.81px;
    height: 19.87px;
    margin-right: 33.5px;
    background: #BABABA;
    ;
}

._image {
    display: flex;
    align-items: center;
}

.image33 {
    height: 17px;
    width: 25px;
    left: 2px;
    top: 3px;

    margin-right: 33, 5px;
}

.zerro {
    display: flex;
    align-items: center;
}

.image22 {
    margin-right: 33.5px;
    width: 27.9px;
    height: 18.73px;
}

.ttext {
    width: 249px;

    margin-left: 933px;
    margin-bottom: 15px;

}

.hr8{width: 1180px;}
.text39 {
    font-family: Monserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    margin-left: 6px;
    display: flex;
    color: #757575;
}